@mixin screenreader-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
	outline: 0;
}

@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);
	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}
	@return $string;
}

@mixin font-face($name, $local, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: local(quote($local)), $src;
	}
}


@mixin transition($properties, $duration: $default-transition-duration) {
	transition-property: $properties;
	transition-duration: $duration;
	transition-timing-function: cubic-bezier(0.470, 0.000, 0.745, 0.715); /* easeInSine */
}

/* 
 * Calculate leading based upon multiplier
 */
@mixin leading($multiplier: 1, $hug: false) {
    line-height: $multiplier * $leading;
    @if $hug == false { 
        margin-top: $multiplier * $leading; 
    } @else {
        margin-top: 0;
    }
}

@mixin link($link, $color) {
	a[href*='#{$link}'] {
		color: $color;

		&:hover {
			color: lighten($color, 20%);
		}

        @media (prefers-color-scheme: dark) {
            color: lighten($color, 18%);

            &:hover {
                color: lighten($color, 30%);
            }
        }
	}
}

@mixin cache-warning($selector, $custom: false) {
    @if $custom == false {
        #{$selector} ~ div .cache-warning { display: block; }
    } @else {
        #{$selector} { display: block; }
    }
}
